<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Успешное изменение пароля в интернет-магазине <span style="color: blue;">Эклетика</span></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
        }

        .header {
            background-color: #3f51b5;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .logo {
            max-width: 200px;
            margin: 0 auto;
        }

        .content {
            padding: 20px;
        }

        .button {
            display: inline-block;
            background-color: #3f51b5;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            margin-left: 10px;
        }

        .support {
            color: #3f51b5;
        }
    </style>
</head>

<body>
    <div style="max-width: 600px; margin: 0 auto;">
        <header class="header">
            <h1><img class="logo" src="D:\shop\shop\foto\logo_transparent.png" alt="Логотип Эклетика"></h1>
        </header>

        <main class="content">
            <p>Приветствуем Вас,</p>
            <p>Мы рады сообщить, что изменение пароля для вашей учетной записи прошло успешно. Теперь вы можете использовать новый пароль для входа в систему.</p>
            <p>Если вы не запрашивали изменение пароля, пожалуйста, немедленно свяжитесь с нами для принятия соответствующих мер по безопасности.</p>
            
            <div style="text-align: center;">
                <a href="ссылка_на_службу_поддержки" class="button">Связаться со службой поддержки</a>
                
            </div>
            
            <p>Если у вас возникнут дополнительные вопросы или проблемы, мы всегда готовы помочь. Обращайтесь в нашу <span
                    class="support">службу поддержки</span>.</p>
            
            <p>С наилучшими пожеланиями,</p>
            
            <p>Ваша команда поддержки интернет-магазина <span style="color: blue;">Эклетика</span></p>
        </main>
    </div>
</body>

</html>