<!DOCTYPE html>
<html lang='ru'>

<head>
    <meta charset='UTF-8'>
    <title>Добро пожаловать в Эклектика</title>
</head>

<body>
    <div style='max-width: 600px; margin: 0 auto;'>
        <header style='background-color: #3f51b5; color: #fff; padding: 20px; text-align: center;'>
            <h1 style='margin: 0;'>Эклектика</h1>
        </header>

        <main style='padding: 20px;'>
            <h2>Рады вас приветствовать!</h2>
            <p>Сердечно благодарим вас за регистрацию в нашем интернет-магазине Эклектика. Мы рады приветствовать вас в нашем сообществе и надеемся, что вы найдете здесь много интересного и полезного.</p>
            <p>Наслаждайтесь покупками!</p>
        </main>

        <footer style='background-color: #f2f2f2; color: #333; padding: 20px; text-align: center;'>
            <p>С теплыми пожеланиями, команда Эклектика</p>
        </footer>
    </div>
</body>

</html>
